@{
    Page.Title = "Sorting Arrows";
    var db = Database.Open("Northwind");
    var query = "SELECT * FROM Customers";
    var data = db.Query(query);
    var columns = new[]{"CustomerID", "CompanyName", "ContactName", "Address", "City", "Country", "Phone"};
    var grid = new WebGrid(data, ajaxUpdateContainerId: "grid", columnNames: columns, ajaxUpdateCallback: "setArrows");
}
<h1>Sorting arrows</h1>
<div id="gridContainer">
    <div id="grid">
        @grid.GetHtml(    
            tableStyle : "table",
            alternatingRowStyle : "alternate",
            headerStyle : "header",
            @*columns: grid.Columns(
                grid.Column("CustomerID", Sorter("CustomerID", "ID", grid.SortDirection, grid.SortColumn)),
                grid.Column("CompanyName", Sorter("CompanyName", "Company Name", grid.SortDirection, grid.SortColumn)),
                grid.Column("ContactName", Sorter("ContactName", "Contact Name", grid.SortDirection, grid.SortColumn)),
                grid.Column("Address", Sorter("Address", "Address", grid.SortDirection, grid.SortColumn)),
                grid.Column("City", Sorter("City", "City", grid.SortDirection, grid.SortColumn)),
                grid.Column("Country", Sorter("Country", "Country", grid.SortDirection, grid.SortColumn)),
                grid.Column("Phone", Sorter("Phone", "Phone", grid.SortDirection, grid.SortColumn))
            )*@
            columns: grid.Columns(
                grid.Column("CustomerID", "ID"),
                grid.Column("CompanyName", "Company Name"),
                grid.Column("ContactName", "Contact Name"),
                grid.Column("Address"),
                grid.Column("City"),
                grid.Column("Country"),
                grid.Column("Phone")
            )
        )
    </div>
</div>
@section script{
<script type="text/javascript">
    var dir;
    var col;
    $(function () {
        $('#gridContainer').on('click', 'a[data-swhglnk="true"]', function (ev) {
            var s = $(this)[0].getAttribute("href");
            var pos = s.indexOf('sortdir');
            dir = s.substring(pos + 8, pos + 11);
            col = $(this).text();
        });
    });

    function setArrows() {
        col = col.replace(' ▲', '').replace(' ▼', '');
        var header = $('th a:contains(' + col + ')');
        if (dir == 'ASC') {
            header.text(header.text() + ' ▲');
        }
        if (dir == 'DES') {
            header.text(header.text() + ' ▼');
        }
    };
</script>
}
@functions {
    public static string Sorter(string columnName, string columnHeader, SortDirection direction, string sortColumn){
        return string.Format("{0} {1}", columnHeader, sortColumn == columnName ? direction == SortDirection.Ascending ? "▲" : "▼" : string.Empty);
    }
}