@{
    Page.Title = "Sorting Arrows";
}
<h1>Sorting Arrows Examples</h1>
<div id="gridContainer">
    <ul>
        <li><a href="~/RazorHelper/">Razor Helper Method</a></li>
        <li><a href="~/jQueryText/">jQuery Text Method</a></li>
        <li><a href="~/jQueryImages/">jQuery Images Method</a></li>
    </ul>
</div>